<div>
  <h2>Your ideal companions</h2>
  <h4>Amount</h4>
  <h3>
    <%= @number %>
  </h3>
  <h4>Color</h4>
  <h3>
    <%= @color %>
  </h3>
  <h4>Companion</h4>
  <h3>
    <%= @animal + 's' %>
  </h3>
</div>
